<!DOCTYPE html>
<html lang="en">
<head>
    <title>Axentix Layout - Sidenav</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/axentix@2.4.0/dist/axentix.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body class="layout-sidenav">

<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">
            <i class="fas fa-credit-card fa-lg"></i>
        </a>
        <a class="navbar-brand mx-auto" href="#">ManageBudget</a>
    </nav>
</header>

<div id="example-sidenav" data-ax="sidenav" class="sidenav shadow-1 sidenav-fixed white">
    <div class="sidenav-header">
        <b>My profile</b>
    </div>
    <a  href="{{ path('budget_useraccount') }}" class="sidenav-link active">User Account</a>
    <a href="#" class="sidenav-link">My Expenses</a>
    <a href="#" class="sidenav-link">My Review</a>

    {% if app.user %}
        <div class="mb-3" style="margin-top: 400px;">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}
</div>

<main>

    <main>
        <div style="text-align: center; margin-top: 50px;">
            <h1>Welcome  {{ app.user.lastName}} !</h1>
        </div>

        <div >
            <p>You have 5 different profiles:</p>
            <ul>
                <li>If you are a student and need help managing your budget, select this profile.</li>
                <li>If you are a traveler and need guidance on budget management, select this profile.</li>
                <li>If you are an investor and unsure where to allocate your budget, select this profile.</li>
                <li>If you are a parent and need assistance with budgeting, select this profile.</li>
                <li>If you are a couple and need guidance on budget management, select this profile.</li>
            </ul>
            <p>Select the profile that best fits your situation to get assistance.</p>
        </div>
        </div>

        {{ form_start(form) }}

        {{ form_row(form.profileType, {'attr': {'class': 'form-control'}}) }}
        {{ form_row(form.profileBudget, {
            'attr': {
                'class': 'form-control',
                'placeholder': 'Enter your budget in $...',
            }
        }) }}


        <button type="submit" class="btn btn-primary">Register</button>

        {{ form_end(form) }}


</main>

<script src="https://cdn.jsdelivr.net/npm/axentix@2.4.0/dist/axentix.min.js"></script>
<script>
    document.getElementById('openSidenav').addEventListener('click', function() {
        document.getElementById('example-sidenav').axOpen();
    });
</script>

</body>
</html>
