{% extends 'base.html.twig' %}

{% block title %}Traveler Profile{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <style>
        .btn-custom {
            background-color: transparent;
            color: #FF698D;
            border-color: #FF698D;
        }

        .btn-custom:hover {
            background-color: #FF698D;
            border-color: #FF698D;
            color: white;
        }

        body {
            align-items: center;
            background-color: #e4e4e4;
            font-family: 'Montserrat', sans-serif;
        }

        .custom-link {
            color: #FF698D;
        }

        .custom-link:hover {
            color: white;
            background-color: #FF698D;
            border-color: #FF698D;
        }
        .btn btn-primary{
            background-color: #FF698D;
            border-color: #FF698D;
        }
        .btn-custom {
            background-color: #FF698D;
            border-color: #FF698D;
            color: white;
        }

        .btn-custom:hover {
            background-color: #FF5C7D; /* Couleur de survol légèrement plus sombre */
            border-color: #FF5C7D; /* Couleur de bordure de survol légèrement plus sombre */
            color: white;
        }
    </style>
{% endblock %}

{% block body %}
    <header class="d-flex flex-wrap align-items-center justify-content-between py-3 mb-4 border-bottom">
        <div class="b-example-divider"></div>
        <div class="col-md-3 mb-2 mb-md-0">
            <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
                <svg class="bi" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
            </a>
        </div>

        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0" style="margin-right: 70px">
            <li><a href="{{ path ('home') }}" class="nav-link px-2 link-secondary pink-link custom-link">Home</a></li>
            <li><a href="#" class="nav-link px-2 pink-link custom-link">Contact</a></li>
            <li><a href="#" class="nav-link px-2 pink-link custom-link">FAQs</a></li>
            <li><a href="#" class="nav-link px-2 pink-link custom-link" style="margin-right: 10px;">About</a></li>
        </ul>


        <div class="col-md-3 text-end">
            <a href="{{ path('app_login') }}" class="btn btn-outline-primary me-2 btn-custom">Login</a>
            <a href="{{ path('app_register') }}" class="btn btn-primary btn-custom">Sign-up</a>
        </div>
    </header>

    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title text-center mb-4">Welcome, Traveler!</h2>
                        {% if profile is defined %}
                            <p class="lead text-center mb-4">Your current budget is: {{ profileBudget }}€</p>
                        {% else %}
                            <p class="lead text-center mb-4">No traveler profile found.</p>
                        {% endif %}
                        <hr>
                        <h4 class="card-title text-center mt-4 mb-3">Add Budget Categories</h4>
                        {{ form_start(form) }}
                        {% for categoryNameForm in form.categoryNames %}
                            <div class="mb-3">
                                {{ form_row(categoryNameForm, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        {% endfor %}
                        <div class="text-center">
                            <button type="submit" class="btn btn-custom">Submit</button>
                        </div>

                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
