


{% extends 'base.html.twig' %}

{% block title %}Couple Profile{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
    <style>
        .btn-custom, .btn btn-primary {
            background-color: #FF698D;
            border-color: #FF698D;
            color: white;
        }
        .container {
            max-width: 880px;
            margin: 0 auto;
            padding: 10px;
        }
        .about-section {
            margin-bottom: 20px;
        }
        .about-section p {
            margin-bottom: 10px;
        }
        .team-section {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 20px;
        }
        .team-member {
            text-align: center;
        }
        .team-member img {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            margin-bottom: 10px;
        }


        .btn-custom:hover {
            background-color: #FF5C7D; /* Darker on hover */
            border-color: #FF5C7D;
            color: white;
        }
        .sidebar ul li:last-child {
            margin-bottom: -100px; /* Réduire l'espace entre le lien Delete My Account et le dropdown menu */
        }
        body {
            align-items: center;
            background-color: #e4e4e4;
            font-family: 'Montserrat', sans-serif;
        }

        .sidebar {
            position: fixed;
            top: 0;
            bottom: 0;
            left: -250px; /* sidebar initially hidden */
            z-index: 100;
            padding: 48px 0; /* Adjust as needed */
            overflow-x: hidden;
            overflow-y: auto; /* Show scrollbar if necessary */
            background-color: black; /* Background color */
            border-right: 1px solid #FF698D; /* Right border */
            transition: left 0.3s; /* Smooth transition */
        }

        .sidebar.active {
            left: 0; /* Sidebar visible */
        }

        .sidebar-heading {
            text-align: center;
            padding: 10px 15px;
        }

        .sidebar ul {
            flex-direction: column;
            padding-left: 0;
            margin-bottom: 0;
            list-style: none;
        }

        .sidebar ul li {
            margin: -5px;
            padding: 7px;
        }

        .sidebar ul li a {
            display: flex;
            align-items: center; /* Align icon and text vertically */
            padding: .3rem 2rem;
            color: #ffffff;
            text-decoration: none;
        }

        .sidebar ul li a:hover {
            background-color: #FF698D; /* Highlight on hover */
        }

        /* Button style */
        .sidebar-toggle {
            position: fixed;
            left: 10px;
            top: 10px;
            background-color: #FF698D;
            color: white;
            border: none;
            border-radius: 50%;
            padding: 15px;
            cursor: pointer;
        }

        .sidebar-toggle:focus {
            outline: none;
        }

        /* Icon style */
        .sidebar ul li a i {
            margin-right: 10px; /* Add spacing between icon and text */
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <!-- Sidebar -->
            <nav class="col-md-3 col-lg-2 d-md-block sidebar">
                <div class="sidebar-heading" style="margin-top: -30px; margin-bottom: 40px; font-weight: bold; font-size: 20px;">
                    <span style="color: #FF698D;">MY</span><span style="color: white;">MONEY</span>
                </div>
                <div class="sidebar-sticky"></div>
                <ul class="nav flex-column">
                    <li class="nav-item"><a class="nav-link" href="{{ path('budget_useraccount') }}"><i class="fa-regular fa-user"></i> My User Account</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ path('budget_show_profile') }}"><i class="fa fa-chart-line"></i> My Profile </a></li>
                    <li><a class="nav-link" href="{{ path('budget_show_categories') }}"><i class="fa fa-receipt"></i> My Expenses Category</a></li>
                    <li><a class="nav-link" href="{{ path('budget_show_expenses') }}"><i class="fa fa-chart-pie"></i> My Expenses</a></li>
                    <li><a class="nav-link" href="{{ path('review') }}"><i class="fa fa-chart-area"></i> My Review</a></li>
                    <li><a class="nav-link" href="{{ path('budget_chart') }}"><i class="fa fa-chart-bar"></i> My Chart</a></li>
                </ul>



                <!-- Séparateur -->
                <hr class="dropdown-divider" style="margin-top: 470px; margin-bottom: 20px;">

                <!-- Dropdown for user profile -->
                <div class="dropdown mt-auto text-center">
                    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                        {% if app.user %}
                            <i class="fas fa-user-circle me-2" style="margin-right: 10px"></i>{{ app.user.userIdentifier }}
                        {% else %}
                            <i class="fas fa-user-circle me-2"></i>Profile
                        {% endif %}
                    </a>

                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        {% if app.user %}
                            <li><a class="dropdown-item" href="{{ path('app_logout') }}" style="color: black">Logout</a></li>
                            <div class="dropdown-divider"></div>
                        {% else %}
                            <li><a class="dropdown-item" href="{{ path('app_register') }}">Register</a></li>
                        {% endif %}
                    </ul>
                </div>
            </nav>

            <!-- Main Content -->
            <main class="col">
                <header class="d-flex flex-wrap align-items-center justify-content-between py-3 mb-4 border-bottom">

                    <div class="b-example-divider"></div>
                    <div class="col-md-3 mb-2 mb-md-0">
                        <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
                            <svg class="bi" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
                        </a>
                    </div>

                    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0" style="margin-right: 70px">
                        <li><a href="{{ path ('home') }}" class="nav-link px-2 link-secondary pink-link">Home</a></li>
                        <li><a href="{{ path('contact') }}" class="nav-link px-2 pink-link custom-link">Contact</a></li>
                        <li><a href="#" class="nav-link px-2 pink-link">FAQs</a></li>
                        <li><a href="{{ path('about') }}" class="nav-link px-2 pink-link" style="margin-right: 10px;">About</a></li>
                    </ul>


                    <div class="col-md-3 text-end">
                        <a href="{{ path('app_login') }}" class="btn btn-outline-primary me-2 btn-custom">Login</a>
                        <a href="{{ path('app_register') }}" class="btn btn-primary btn-custom">Sign-up</a>
                    </div>


                </header>
            </main>
            <div class="container">
                <div class="about-section">
                    <h2>About MyMoney</h2>
                    <p>
                        Bienvenue chez MyMoney, votre allié dans la gestion intelligente de vos finances personnelles. Fondée par trois jeunes femmes ayant autrefois du mal à contrôler leurs dépenses et à planifier leur avenir financier, MyMoney est née de la volonté de transformer les défis financiers en opportunités d'apprentissage et de croissance.
                        <br><br>
                        Notre histoire est celle de nombreuses personnes : des acheteurs compulsifs, des étudiants vivant avec un budget serré, des professionnels soucieux de leur avenir financier, et des voyageurs passionnés cherchant à maximiser leur budget pour des aventures inoubliables. Nous avons ressenti les frissons de la culpabilité après un achat impulsif et l'anxiété de regarder notre compte en banque se vider sans savoir où l'argent est passé.
                        <br><br>
                        C'est pourquoi nous avons créé MyMoney, un outil simple et intuitif conçu pour vous aider à prendre le contrôle de vos finances. Que vous soyez un étudiant jonglant avec les frais de scolarité et les dépenses quotidiennes, un investisseur débutant cherchant à comprendre les rouages du marché financier, ou un globe-trotter rêvant de voyages sans contraintes budgétaires, MyMoney est là pour vous accompagner à chaque étape de votre parcours financier.
                        <br><br>
                        Avec MyMoney, vous pouvez suivre vos revenus et vos dépenses en temps réel, établir des budgets personnalisés pour chaque catégorie de dépenses, planifier et suivre vos objectifs financiers à long terme, et accéder à une gamme d'outils et de ressources éducatives pour améliorer vos connaissances en matière de finance personnelle.
                        <br><br>
                        Mais MyMoney est bien plus qu'une simple application de gestion de budget. C'est une communauté dynamique et bienveillante où vous pouvez partager vos expériences, poser des questions, et trouver l'inspiration auprès d'autres membres qui partagent vos défis et vos aspirations. Ensemble, nous pouvons briser les tabous entourant l'argent, développer des habitudes financières saines, et réaliser nos rêves, un budget à la fois.
                        <br><br>
                        Rejoignez-nous dès aujourd'hui et commencez votre voyage vers une vie financière épanouie avec MyMoney. Parce que chaque centime compte, et chaque pas vers la liberté financière est une victoire à célébrer.
                    </p>

                </div>


            </div>
            </main>
            <!-- Sidebar toggle button -->
            <button class="sidebar-toggle" onclick="toggleSidebar()">
                <i class="fas fa-bars"></i>
            </button>
        </div>

    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const sidebar = document.querySelector('.sidebar');
            const sidebarToggle = document.querySelector('.sidebar-toggle');

            // Fonction pour ouvrir et fermer la barre latérale
            function toggleSidebar() {
                sidebar.classList.toggle('active');
            }
            function toggleDropdown() {
                const dropdownMenu = document.querySelector('.dropdown-menu');
                dropdownMenu.classList.toggle('show');
            }

            // Événement de clic sur le lien du profil pour ouvrir le dropdown
            document.querySelector('.dropdown-toggle').addEventListener('click', toggleDropdown);

            // Événement de clic sur le bouton de basculement de la barre latérale
            sidebarToggle.addEventListener('click', toggleSidebar);

            // Événement de clic sur le contenu principal pour fermer la barre latérale
            document.addEventListener('click', function(event) {
                const isClickInsideSidebar = sidebar.contains(event.target);
                const isClickInsideSidebarToggle = sidebarToggle.contains(event.target);

                // Si le clic n'est pas à l'intérieur de la barre latérale ni sur le bouton de basculement, fermez la barre latérale
                if (!isClickInsideSidebar && !isClickInsideSidebarToggle) {
                    sidebar.classList.remove('active');
                }
            });
        });
    </script>
{% endblock %}

