{% extends 'base.html.twig' %}

{% block title %}Update Password{% endblock %}

{% block body %}
    <h1>Update Password</h1>
    {{ form_start(form) }}
    {{ form_row(form.oldPassword) }}
    {% if form.plainPassword.vars.errors|length > 0 %}
        <div class="alert alert-danger">
            {{ form_errors(form.plainPassword) }}
        </div>
    {% endif %}
    {{ form_row(form.plainPassword.first) }}
    {{ form_row(form.plainPassword.second) }}
    {% for type, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ type }}">{{ message }}</div>
        {% endfor %}
    {% endfor %}
    <button type="submit" class="btn btn-primary">Update Password</button>
    {{ form_end(form) }}
    <button type = "button" class="btn btn-primary" onclick="window.location.href='{{ path('budget_useraccount') }}'">Back</button>
{% endblock %}
