{% extends 'base.html.twig' %}

{% block title %}Visualisation des dépenses de la semaine{% endblock %}

{% block body %}
    <header class="d-flex flex-wrap align-items-center justify-content-between py-3 mb-4 border-bottom">
        <div class="b-example-divider"></div>
        <div class="col-md-3 mb-2 mb-md-0">
            <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
                <svg class="bi" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
            </a>
        </div>

        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0" style="margin-right: 70px">
            <li><a href="{{ path ('home') }}" class="nav-link px-2 link-secondary pink-link custom-link">Home</a></li>
            <li><a href="#" class="nav-link px-2 pink-link custom-link">Contact</a></li>
            <li><a href="#" class="nav-link px-2 pink-link custom-link">FAQs</a></li>
            <li><a href="#" class="nav-link px-2 pink-link custom-link" style="margin-right: 10px;">About</a></li>
        </ul>

        <div class="col-md-3 text-end">
            <a href="{{ path('app_login') }}" class="btn btn-outline-primary me-2 btn-custom">Login</a>
            <a href="{{ path('app_register') }}" class="btn btn-primary btn-custom">Sign-up</a>
        </div>
    </header>

    <h1 style=" text-align: center">Visualisation des dépenses</h1><br>
    <canvas id="myChart" width="800" height="400"></canvas>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var ctx = document.getElementById('myChart').getContext('2d');
            var chartData = {{ chartData|raw }};
            var days = chartData.map(function(dataPoint) { return dataPoint.name; });

            var datasets = [];
            var categoryColors = ['rgba(255, 99, 132, 0.6)', 'rgba(54, 162, 235, 0.6)', 'rgba(255, 206, 86, 0.6)', 'rgba(75, 192, 192, 0.6)', 'rgba(153, 102, 255, 0.6)'];

            var categories = Object.keys(chartData[0]).filter(key => key !== 'name');
            categories.forEach(function(category, index) {
                datasets.push({
                    label: category,
                    data: chartData.map(function(dataPoint) { return dataPoint[category]; }),
                    backgroundColor: categoryColors[index % categoryColors.length],
                    stack: 'Stack 0'
                });
            });

            var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: days,
                    datasets: datasets
                },
                options: {
                    scales: {
                        yAxes: [{
                            stacked: true,
                            ticks: {
                                beginAtZero: true,
                                callback: function(value, index, values) {
                                    return '$' + value;
                                }
                            }
                        }],
                        xAxes: [{
                            stacked: true
                        }]
                    },
                    tooltips: {
                        callbacks: {
                            label: function(tooltipItem, data) {
                                var datasetLabel = data.datasets[tooltipItem.datasetIndex].label || '';
                                return datasetLabel + ': $' + tooltipItem.yLabel;
                            }
                        }
                    }
                }
            });
        });
    </script>
    <br><br>
    <h2 style=" text-align: center">Mettre à jour le budget</h2>
    {{ form_start(form) }}
    <div class="mb-3">
        {{ form_row(form.dailyBudget, {'label': 'Nouveau budget:', 'attr': {'class': 'form-control', 'placeholder': 'Entrez le nouveau budget'}}) }}
    </div>
    <div class="mb-3">
        {{ form_row(form.categoryDailyBudget, {'label': 'Nouveau budget par catégorie:', 'attr': {'class': 'form-control', 'placeholder': 'Entrez le nouveau budget par catégorie'}}) }}
    </div>
    <div class="text-center">
        <button type="submit" class="btn btn-custom">Mettre à jour le budget</button>
    </div>
    {{ form_end(form) }}
{% endblock %}
