<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Gestion de Budget{% endblock %}</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {% block stylesheets %}
    {% endblock %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">


    <style>


        /* Custom button styles */
        .btn-custom {
            background-color: transparent;
            color: #FF698D;
            border-color: #FF698D;
        }

        .btn-custom:hover {
            background-color: #FF698D;
            border-color: #FF698D;
            color: white;
        }
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #e4e4e4;
            margin: 0;
            font-family: 'Montserrat', sans-serif;
        }


        .container {
            text-align: center;
            margin-top: 0px;

        }

        .image-container {
            display: flex;
            justify-content: center;
            flex-direction: row; /* Modification ici pour la disposition horizontale */
            margin-top: 20px; /* Ajout de marge pour l'espace entre les lignes */
        }

        .image-container img {
            max-width: 100%;
            height: auto;
            transition: transform 0.3s ease;
            border-radius: 10px;
            margin: 0 10px;
        }

        .image-container img:hover {
            transform: translateY(-20px);
        }
        .pink-link {
            color: #FF698D;
        }
        .sidebar {
            position: fixed;
            top: 0;
            bottom: 0;
            left: -250px; /* barre latérale initialement cachée */
            z-index: 100;
            padding: 48px 0; /* Ajustez au besoin */
            overflow-x: hidden;
            overflow-y: auto; /* Afficher la barre de défilement si nécessaire */
            background-color: black; /* Couleur de fond */
            border-right: 1px solid #FF698D; /* Bordure droite */
            transition: left 0.3s; /* Transition fluide */
        }

        .sidebar.active {
            left: 0; /* Barre latérale visible */
        }

        .sidebar-heading {
            text-align: center;
            padding: 10px 15px;
        }
        .sidebar ul li:last-child {
            margin-bottom: -100px; /* Réduire l'espace entre le lien Delete My Account et le dropdown menu */
        }
        .sidebar ul {
            flex-direction: column;
            padding-left: 0;
            margin-bottom: 0;
            list-style: none;
        }
        .sidebar ul li:last-child {
            margin-bottom: -100px; /* Réduire l'espace entre le lien Delete My Account et le dropdown menu */
        }

        .sidebar ul li {
            margin: -5px;
            padding: 7px;
        }

        .sidebar ul li a {
            display: flex;
            align-items: center; /* Aligner l'icône et le texte verticalement */
            padding: .3rem 2rem;
            color: #ffffff;
            text-decoration: none;
        }

        .sidebar ul li a:hover {
            background-color: #FF698D; /* Surligner au survol */
        }

        /* Style du bouton */
        .sidebar-toggle {
            position: fixed;
            left: 10px;
            top: 10px;
            background-color: #FF698D;
            color: white;
            border: none;
            border-radius: 50%;
            padding: 15px;
            cursor: pointer;
        }

        .sidebar-toggle:focus {
            outline: none;
        }

        /* Icône */
        .sidebar ul li a i {
            margin-right: 10px; /* Ajouter de l'espace entre l'icône et le texte */
        }

    </style>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <!-- Sidebar -->
        <nav class="col-md-3 col-lg-2 d-md-block sidebar">
            <div class="sidebar-heading" style="margin-top: -30px; margin-bottom: 40px; font-weight: bold; font-size: 20px;">
                <span style="color: #FF698D;">MY</span><span style="color: white;">MONEY</span>
            </div>

            <div class="sidebar-sticky"></div>
            <ul class="nav flex-column">
                <li class="nav-item"><a class="nav-link" href="{{ path('budget_useraccount') }}"><i class="fa-regular fa-user"></i> My User Account</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ path('budget_show_profile') }}"><i class="fa fa-chart-line"></i> My Profile </a></li>
                <li><a class="nav-link" href="{{ path('budget_show_categories') }}"><i class="fa fa-receipt"></i> My Expenses Category</a></li>
                <li><a class="nav-link" href="{{ path('budget_show_expenses') }}"><i class="fa fa-chart-pie"></i> My Expenses</a></li>
                <li><a class="nav-link" href="{{ path('review') }}"><i class="fa fa-chart-area"></i> My Review</a></li>
                <li><a class="nav-link" href="{{ path('budget_chart') }}"><i class="fa fa-chart-bar"></i> My Chart</a></li>
            </ul>


            <!-- Séparateur -->
            <hr class="dropdown-divider" style="margin-top: 470px; margin-bottom: 20px;">

            <!-- Dropdown menu -->
            <div class="dropdown mt-auto">
                <a href="{{ path ('app_register') }}" class="d-flex align-items-center justify-content-center text-white text-decoration-none">
                    <i class="fas fa-user-circle me-2" style="margin-right: 10px;"></i> <!-- Icône Font Awesome pour "Profile" avec une marge à droite -->
                    <strong class="ms-2">Profile</strong> <!-- Texte "Profile" avec une marge à gauche -->
                </a>
            </div>

        </nav>
        <!-- Main Content -->
        <main class="col">
            <header class="d-flex flex-wrap align-items-center justify-content-between py-3 mb-4 border-bottom">

                <div class="b-example-divider"></div>
                <div class="col-md-3 mb-2 mb-md-0">
                    <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
                        <svg class="bi" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
                    </a>
                </div>

                <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0" style="margin-right: 70px">
                    <li><a href="{{ path ('home') }}" class="nav-link px-2 link-secondary pink-link">Home</a></li>
                    <li><a href="{{ path('contact') }}" class="nav-link px-2 pink-link custom-link">Contact</a></li>
                    <li><a href="#" class="nav-link px-2 pink-link">FAQs</a></li>
                    <li><a href="{{ path('about') }}" class="nav-link px-2 pink-link" style="margin-right: 10px;">About</a></li>
                </ul>


                <div class="col-md-3 text-end">
                    <a href="{{ path('app_login') }}" class="btn btn-outline-primary me-2 btn-custom">Login</a>
                    <a href="{{ path('app_register') }}" class="btn btn-primary btn-custom">Sign-up</a>
                </div>


            </header>
        </main>
    </div>

    <div class="container">
        <h1 style="margin-top: 20px">Your Pathway to Financial Freedom and Stability</h1>
        <br>
        <p>
            Discover the convenience and empowerment of managing your finances effortlessly with <b>MYMONEY</b>.
            Whether you're a seasoned investor or just starting out, our intuitive platform provides personalized solutions tailored to your goals.
            Say goodbye to financial stress with easy-to-use budgeting tools, track your progress, and access educational resources to enhance your financial literacy.
            Rest assured, your data is secure, and join a supportive community dedicated to financial success.
            With our mobile app, stay connected and take control of your finances wherever you go.

        </p>
        <br>
        <div class="image-container">
            <img src="https://i.pinimg.com/564x/4e/e8/de/4ee8de1944a5f1f7daf247a292319f76.jpg" alt="Bank" width="300" height="200">
            <img src="https://i.pinimg.com/564x/54/f0/0c/54f00c29a66595ceea2e1a139434ed80.jpg" alt="Graph" width="300" height="200">
        </div>
    </div>
<br>
    <br>
    <!-- Sidebar toggle button -->
    <button class="sidebar-toggle" onclick="toggleSidebar()">
        <i class="fas fa-bars"></i>
    </button>

    <footer class="py-3 my-4">
        <div class="container">
            <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0" >
                <li><a href="#" class="nav-link px-2 link-secondary pink-link">Home</a></li>
                <li><a href="#" class="nav-link px-2 pink-link">Contact</a></li>
                <li><a href="#" class="nav-link px-2 pink-link">FAQs</a></li>
                <li><a href="#" class="nav-link px-2 pink-link" >About</a></li>
            </ul>
            <p class="text-center text-body-secondary">&copy; 2024 Company, Inc</p>
        </div>
    </footer>
</div>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const sidebar = document.querySelector('.sidebar');
            const sidebarToggle = document.querySelector('.sidebar-toggle');

            // Fonction pour ouvrir et fermer la barre latérale
            function toggleSidebar() {
                sidebar.classList.toggle('active');
            }

            // Événement de clic sur le bouton de basculement de la barre latérale
            sidebarToggle.addEventListener('click', toggleSidebar);

            // Événement de clic sur le contenu principal pour fermer la barre latérale
            document.addEventListener('click', function(event) {
                const isClickInsideSidebar = sidebar.contains(event.target);
                const isClickInsideSidebarToggle = sidebarToggle.contains(event.target);

                // Si le clic n'est pas à l'intérieur de la barre latérale ni sur le bouton de basculement, fermez la barre latérale
                if (!isClickInsideSidebar && !isClickInsideSidebarToggle) {
                    sidebar.classList.remove('active');
                }
            });
        });
    </script>

</body>
</html>













