{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block stylesheets %}
    {{ parent() }} {# Inclure d'abord les feuilles de style du parent #}

    <style>
        /* Votre CSS personnalisé */
        /* Par exemple */
        body {
            background-color: #e4e4e4;
        }
        .pink-link{
            color: #FF698D;
        }
        .btn-custom {
            background-color: transparent;
            color: #FF698D;
            border-color: #FF698D;
        }

        .btn-custom:hover {
            background-color: #FF698D;
            border-color: #FF698D;
            color: white;
        }
        .btn {
            background-color: #FF698D;
            border: none;
            color: white;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            margin: 4px 2px;
            cursor: pointer;
        }

        .custom-form {
            margin-left: 90px;
            margin-right: 90px;
        }

        .custom-form {
            margin-left: 375px;
            margin-right: 375px;
        }
    </style>
{% endblock %}

{% block body %}
    <header class="d-flex flex-wrap align-items-center justify-content-between py-3 mb-4 border-bottom">
        <div class="b-example-divider"></div>
        <div class="col-md-3 mb-2 mb-md-0">
            <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
                <svg class="bi" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
            </a>
        </div>

        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0" style="margin-right: 70px">
            <li><a href="{{ path ('home') }}" class="nav-link px-2 link-secondary pink-link">Home</a></li>
            <li><a href="#" class="nav-link px-2 pink-link">Contact</a></li>
            <li><a href="#" class="nav-link px-2 pink-link">FAQs</a></li>
            <li><a href="#" class="nav-link px-2 pink-link" style="margin-right: 10px;">About</a></li>
        </ul>

        <div class="col-md-3 text-end">
            <a href="{{ path('app_login') }}" class="btn btn-outline-primary me-2 btn-custom">Login</a>
            <a href="{{ path('app_register') }}" class="btn btn-primary btn-custom">Sign-up</a>
        </div>
    </header>

    <h1 class="text-center" style="margin-top: -20px">{{ 'create_account'|trans }}</h1>

    <div class="custom-form">
            {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.name, {'attr': {'class': 'form-control'}, 'label': 'name'|trans}) }}
            {{ form_row(registrationForm.lastName, {'attr': {'class': 'form-control'}, 'label': 'last_name'|trans}) }}
            {{ form_row(registrationForm.age, {'attr': {'class': 'form-control'}, 'label': 'age'|trans}) }}
            {{ form_row(registrationForm.email, {'attr': {'class': 'form-control'}, 'label': 'email'|trans}) }}
            {% if error is defined %}
                <div class="alert alert-danger">{{ error }}</div>
            {% endif %}
            {{ form_row(registrationForm.plainPassword, {
                'attr': {'class': 'form-control', 'placeholder': 'password'|trans},
                'label': 'repeat_password'|trans
            }) }}
            {{ form_row(registrationForm.AgreeTerms, {'label': 'agree_terms'|trans}) }}
            {{ form_row(registrationForm._token) }}

            <button type="submit" class="btn">{{ 'register_button'|trans }}</button>
        {{ form_end(registrationForm) }}

    </div>
{% endblock %}
